.explore-sec{
    position: relative;
}

.dropDown{
    display: flex;
    align-items: center;
}
.dropDownImg{
    color: #fbed22;
    width: 50px;
}

.course{
    position: absolute;
    display: flex;
    max-width: 220px;
    flex-direction: column;
    padding: 20px 0px;
    top: 40px;
    left: 65px;
    background-color: rgb(34, 34, 42);
    border-radius: 14px;
    
    
}

.nav-list .active {
    color: rgb(127, 230, 0); 
    
  }


nav .course li+li{
margin-top: 1rem;
}

nav .course li:hover{
text-decoration: underline;
}

@media(max-width:700px){
    .dropDownImg{
        width: 30px;
    }
}


