.mainSec{
  min-height: 100vh;
}
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: #f4f4f4; /* Background color during loading */
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc; /* Light gray border */
    border-top: 5px solid #3498db; /* Blue top border */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Infinite spinning */
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .loader-container p {
    margin-top: 15px;
    font-size: 16px;
    color: #555; /* Gray text */
    font-weight: bold;
  }
  